  h1 { 
       background-color: white;
      font-family:Verdana;
       font-size:20;
    } 
    
    h2 { 
       background-color:#E0F8EC;
       color: #190707;
       font-family:Verdana;
       font-size:18;
    }
    h3 {
        background-color:#E0F8EC;
       color: #190707;
       font-family:Verdana;
       font-size:13;
    }
    h4 {
        background-color:#E0F8EC;
       color: #190707;
       font-family:Verdana;
       font-size:12;
    }
    body {
        background-color:#E0F8EC;
        color: #190707;
        font-family:arial;
        font-size:16;
        margin-bottom:0.5cm;
        margin-top:0.5cm;
        margin-left:0.5cm;
        margin-right: 0.5cm;
    }
    p {
    	text-align: left; 
    	color: #190707;
    }
    
.table {
    width: 100%;
}
    td, th {
        padding: 10px;
        text-align: left;
    }
    th {
        color: white;
        background: black;
        
    }

@media (max-width: 500px){
    .table {
        display: flex;
        overflow: hidden;
    }
    tbody {
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
    }
        tr {
            display:flex;
            flex-direction: column;
            flex-shrink: 0;
        }
}