   
    
    h2 { 
       background-color:#E0F8EC;
       color: #190707;
       font-family:Verdana;
       font-size:18;
    }
    h5 {
        font-size: 17;
        text-align: center;
    }
    
    body {
        background-color:#E0F8EC;
        color: #190707;
        font-family:arial;
        font-size:16;
        margin-bottom:0.5cm;
        margin-top:0.5cm;
        margin-left:0.5cm;
        margin-right: 0.5cm;
    }
    p {
    	text-align: left; 
    	color: #190707;
    	
    }
    
    @keyframes animation {
        from {background-color: red;}
        to {background-color: yellow;}
    }
    
     h1 { 
       background-color: red;
       animation-name:animation;
       animation-duration: 4s;
       animation-iteration-count:infinite;
       color: #190707;
       font-family:Verdana;
       font-size:20;
    }